#language_selection_intro {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 700px;
    height: 525px;

    font-size:larger;

    background-color: rgb(199, 199, 255);
    opacity: 100%;

    z-index: 10000000;
}

#language_selection {
    display: inline-block;
    padding: 5px;
}

.lang_img{
    width: 60px;
    height: 40px;
    margin: 5px;
    border: 2px solid #003F7F;
    cursor: pointer;
}

#guide_intro {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 500px;
    height: 200px;

    font-size:larger;

    background-color: rgb(199, 199, 255);
    opacity: 100%;

    z-index: 999999;
}

#guide {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 500px;
    height: 500px;;

    font-size:larger;

    background-color: rgb(199, 199, 255);
    opacity: 100%;

    z-index: 999999;

    display: none;
}

#guideBack {
    background-color: #CCEEFF;
    border: 1px solid #BFBFFF;
    color: #003F7F;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 100px;
    height: 50px;

    font-size:larger;

    z-index: 999999;

    display: none;
}

#guideNext {
    background-color: #00AAFF;
    border: 1px solid #7F7FFF;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 150px;
    height: 80px;

    font-size:larger;

    z-index: 999999;

    display: none;
}

#guideFinish {
    background-color: #00AAFF;
    border: 1px solid #7F7FFF;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 150px;
    height: 80px;

    font-size:larger;

    z-index: 999999;

    display: none;
}

@keyframes guide_highlight {
    0% {
        background-color: #DDDDFF;
    }
    50% {
        background-color: #00AAFF;
    }
    100% {
        background-color: #DDDDFF;
    }
}

@keyframes guide_highlight_2 {
    0% {
        background-color: #BBBBFF;
    }
    50% {
        background-color: #00AAFF;
    }
    100% {
        background-color: #BBBBFF;
    }
}

button {
    background-color: #00AAFF;
    border: 1px solid #7F7FFF;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #0088FF;
    cursor: pointer;
}

button:active {
    background-color: #0066FF;
}

.rendererselect {
    background-color: #00AAFF;
    border: 1px solid #7F7FFF;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.rendererselect:hover {
    background-color: #0088FF;
    cursor: pointer;
}

.rendererselect:active {
    background-color: #0066FF;
}

.opt {
    background-color: #00AAFF;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

textarea {
    background-color: #DDDDFF;
    border: 1px solid #7F7FFF;
    color: #003F7F;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
}

bottom {
    background-color: #EEEEFF;
    width: max-content;
    vertical-align: middle;
    display: inline-block;
}

bottombox {
    color: #003F7F;
    background-color: #EEEEFF;
    border: none;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    width: max-content;
    display: block;
    vertical-align: middle;
}

.lang_img {
    border: 2px solid #003F7F;
}

body {
    background-color: #DDDDFF;
    color: #003F7F;
}

.blocklyFlyoutBackground {
    fill: #BBBBFF;
}

.blocklyTreeSeparator {
    border-bottom: 1px solid #7F7FFF;
}

.outputText {
    color: #007F7F;
}