#language_selection_intro {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 700px;
    height: 525px;

    font-size:larger;

    background-color: rgb(199, 199, 255);
    opacity: 100%;

    z-index: 10000000;
}

#language_selection {
    display: inline-block;
    padding: 5px;
}

.lang_img{
    width: 60px;
    height: 40px;
    margin: 5px;
    border: 2px solid #003F7F;
    cursor: pointer;
}

#guide_intro {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 500px;
    height: 200px;

    font-size:larger;

    background-color: rgb(199, 199, 255);
    opacity: 100%;

    z-index: 999999;
}

#guide {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 500px;
    height: 500px;;

    font-size:larger;

    background-color: rgb(199, 199, 255);
    opacity: 100%;

    z-index: 999999;

    display: none;
}

#guideBack {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 100px;
    height: 50px;

    font-size:larger;

    z-index: 999999;

    display: none;
}

#guideNext {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 150px;
    height: 80px;

    font-size:larger;

    z-index: 999999;

    display: none;
}

#guideFinish {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 150px;
    height: 80px;

    font-size:larger;

    z-index: 999999;

    display: none;
}

@keyframes guide_highlight {
    0% {
        background-color: #DDDDFF;
    }
    50% {
        background-color: #00AAFF;
    }
    100% {
        background-color: #DDDDFF;
    }
}

@keyframes guide_highlight_2 {
    0% {
        background-color: #BBBBFF;
    }
    50% {
        background-color: #00AAFF;
    }
    100% {
        background-color: #BBBBFF;
    }
}

@keyframes popin {
    0% {
        transform: scale(0);
        height: 0;
        padding: 0;
    }
    70% {
        transform: scale(1.2);
        height: auto;
        padding: 10px;
    }
    100% {
        transform: scale(1);
        height: auto;
        padding: 10px;
    }
}

@keyframes popout {
    0% {
        transform: scale(1);
        height: auto;
        padding: 10px;
    }
    30% {
        transform: scale(1.2);
        height: auto;
        padding: 10px;
    }
    100% {
        transform: scale(0);
        height: 0;
        padding: 0;
    }
}

button {
    background-color: #00AAFF;
    border: 1px solid #7F7FFF;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #0088FF;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
}

button:active {
    background-color: #0066FF;
    transition: 0.05s;
    transform: scale(0.95);
}

.enabled {
    background-color: #FFAA00;
    border: 1px solid #FF7F00;
    color: #7F3F00;
}

.enabled:hover {
    background-color: #FF8800;
}

.enabled:active {
    background-color: #FF6600;
}

.disabled {
    background-color: #BBBBBB;
    border: 1px solid #888888;
    color: white;
}

.disabled:hover {
    background-color: #888888;
}

.disabled:active {
    background-color: #666666;
}

.primarybutton {
    background-color: #3FFF3F;
    border: 1px solid #007F00;
    color: #007F00;
}

.primarybutton:hover {
    background-color: #00FF00;
}

.primarybutton:active {
    background-color: #00AA00;
}

.tertiarybutton {
    background-color: #CCEEFF;
    border: 1px solid #BFBFFF;
    color: #003F7F;
}

.tertiarybutton:hover {
    background-color: #BBDDFF;
}

.tertiarybutton:active {
    background-color: #99BBFF;
}

.rendererselect {
    background-color: #00AAFF;
    border: 1px solid #7F7FFF;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.rendererselect:hover {
    background-color: #0088FF;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
}

.rendererselect:active {
    background-color: #0066FF;
}

.opt {
    background-color: #00AAFF;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

textarea {
    background-color: #DDDDFF;
    border: 1px solid #7F7FFF;
    color: #003F7F;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
}

textarea:hover {
    background-color: #BBBBFF;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.03);
}

textarea:active {
    background-color: #9999FF;
}

bottom {
    background-color: #EEEEFF;
    width: max-content;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
}

bottombox {
    color: #003F7F;
    border: none;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    width: max-content;
    display: block;
    vertical-align: middle;
}

hideadvanced {
    padding: 2px 2px;
    display: block;
    width: auto;
    margin: 10px;
}

.lang_img {
    border: 2px solid #003F7F;
}

body {
    background-color: #DDDDFF;
    color: #003F7F;
}

.blocklyFlyoutBackground {
    fill: #BBBBFF;
}

.blocklyTreeSeparator {
    border-bottom: 1px solid #7F7FFF;
}

.outputText {
    color: #007F7F;
}