/*  Defines the style of the language selection intro  */
#language_selection_intro {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 700px;
    height: 525px;

    font-size:larger;

    background-color: rgb(199, 199, 255);
    opacity: 100%;

    z-index: 10000000;
}

/*  Defines the style of the language selection  */
#language_selection {
    display: inline-block;
    padding: 5px;
}

/*  Defines the style of the titles for Maastricht University and CoRoSect  */
#links {
    display: inline-block;
    padding: 5px;
    /*border: 2px solid #7F7FFF;*/
    margin-left: 10px;
    width: 900px;
}

/*  Defines the style of the text area where the generated code is displayed */
#debug{
    background: #BBBBFF;  /*BFBFFF*/
    /*padding: 20px;*/
    height: 600px;
    margin-left: 15px;
    border: 2px solid #7F7FFF;
}

/*  Defines where the generated code is displayed in the text area */
#debugText1{
    margin-left: 15px;
}

/*  Defines the style of the language images */
.lang_img{
    width: 60px;
    height: 40px;
    margin: 5px;
    border: 2px solid #003F7F;
    cursor: pointer;
}

/*  Defines the style of the guide intro scene */
#guide_intro {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 500px;
    height: 200px;

    font-size:larger;

    background-color: rgb(199, 199, 255);
    opacity: 100%;

    z-index: 999999;
}

/*  Defines the style of the guide */
#guide {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 500px;
    height: 500px;;

    font-size:larger;

    background-color: rgb(199, 199, 255);
    border: 2px solid #7F7FFF;
    opacity: 100%;

    z-index: 999999;

    display: none;
}

/*  Defines the style of the guideBack button */
#guideBack {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 100px;
    height: 50px;

    font-size:larger;

    z-index: 999999;

    display: none;
}

/*  Defines the style of the guideNext button */
#guideNext {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 150px;
    height: 80px;

    font-size:larger;

    z-index: 999999;

    display: none;
}

/*  Defines the style of the guideFinish button */
#guideFinish {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    padding: 5px;
    text-align: center;

    width: 150px;
    height: 80px;

    font-size:larger;

    z-index: 999999;

    display: none;
}

/*  Defines the style of the elements of the guide when highlighted */
@keyframes guide_highlight {
    0% {
        background-color: #DDDDFF;
    }
    50% {
        background-color: #00AAFF;
    }
    100% {
        background-color: #DDDDFF;
    }
}

/*  Defines the style of the elements of the guide when highlighted */
@keyframes guide_highlight_2 {
    0% {
        background-color: #BBBBFF;
    }
    50% {
        background-color: #00AAFF;
    }
    100% {
        background-color: #BBBBFF;
    }
}

/*  Makes elements pop in */
@keyframes popin {
    0% {
        transform: scale(0);
        height: 0;
        padding: 0;
    }
    70% {
        transform: scale(1.2);
        height: auto;
        padding: 10px;
    }
    100% {
        transform: scale(1);
        height: auto;
        padding: 10px;
    }
}

/*  Makes elements pop out */
@keyframes popout {
    0% {
        transform: scale(1);
        height: auto;
        padding: 10px;
    }
    30% {
        transform: scale(1.2);
        height: auto;
        padding: 10px;
    }
    100% {
        transform: scale(0);
        height: 0;
        padding: 0;
    }
}

/*  Defines the style of the buttons */
button {
    background-color: #00AAFF;
    border: 1px solid #7F7FFF;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*  Defines the style of a button when the user is hovering over it */
button:hover {
    background-color: #0088FF;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
}

/*  Defines the style of a button when the user has clicked on it */
button:active {
    background-color: #0066FF;
    transition: 0.05s;
    transform: scale(0.95);
}

/*  Defines the style of the advanced button when it is enabled */
.enabled {
    background-color: #FFAA00;
    border: 1px solid #FF7F00;
    color: #7F3F00;
}

/*  Defines the style of the advanced button when it is enabled and the user is hovering over it */
.enabled:hover {
    background-color: #FF8800;
}

/*  Defines the style of the advanced button when it is enabled and the user clicks it */
.enabled:active {
    background-color: #FF6600;
}

/*  Defines the style of the advanced button when it is disabled */
.disabled {
    background-color: #BBBBBB;
    border: 1px solid #888888;
    color: white;
}

/*  Defines the style of the advanced button when it is disabled and the user is hovering over it */
.disabled:hover {
    background-color: #888888;
}

/*  Defines the style of the advanced button when it is disabled and the user clicks it */
.disabled:active {
    background-color: #666666;
}

/*  Defines the style of the sendCode button */
.primarybutton {
    background-color: #3FFF3F;
    border: 1px solid #007F00;
    color: #007F00;
    margin-top: 10px;
    margin-left: 10px;
}

/*  Defines the style of the sendCode button when the user is hovering over it */
.primarybutton:hover {
    background-color: #00FF00;
}

/*  Defines the style of the sendCode button when the user clicks on it */
.primarybutton:active {
    background-color: #00AA00;
}

/*  Defines the style of tertiary buttons */
.tertiarybutton {
    background-color: #CCEEFF;
    border: 1px solid #BFBFFF;
    color: #003F7F;
}

/*  Defines the style of a tertiary button when the user is hovering over it */
.tertiarybutton:hover {
    background-color: #BBDDFF;
}

/*  Defines the style of a tertiary button when the user clicks on it */
.tertiarybutton:active {
    background-color: #99BBFF;
}

/*  Defines the style of the cursor and button when the user is hovering over it and the button is clickable */
.clickable:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
    filter: brightness(1.2);
}

/*  Defines the style of the button when the user clicks on it and the button is clickable */
.clickable:active {
    transition: 0.05s;
    transform: scale(0.95);
    filter: brightness(0.8);
}

/*  Defines the style of the renderer select button */
.rendererselect {
    background-color: #00AAFF;
    border: 1px solid #7F7FFF;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*  Defines the style of the renderer select button when the user is hovering over it */
.rendererselect:hover {
    background-color: #0088FF;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
}

/*  Defines the style of the renderer select button when the user clicks on it */
.rendererselect:active {
    background-color: #0066FF;
}

/*  Defines the style of something */
.opt {
    background-color: #00AAFF;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*  Defines the style of the text area */
textarea {
    background-color: #DDDDFF;
    border: 1px solid #7F7FFF;
    color: #003F7F;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
}

/*  Defines the style of the text area when the user is hovering over it */
textarea:hover {
    background-color: #BBBBFF;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.03);
}

/*  Defines the style of the text area when the user clicks on it */
textarea:active {
    background-color: #9999FF;
}

/*  Defines the style of the bottom left area of the interface */
bottom {
    background-color: #EEEEFF;
    width: max-content;
    min-height: 130px;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
    border: 2px solid #7F7FFF;
}

/*  Defines the style of the console area */
console {
    background-color: #EEEEFF;
    vertical-align: top;
    horiz-align: center;
    display: inline-block;
    margin: 10px 10px 10px 5px;
    border: 2px solid #7F7FFF;
    height: max-content;
    width: 690px;
    min-height: 130px;
}

/*  Defines the style of the labels of in the box areas at the bottom */
bottombox {
    color: #003F7F;
    border: none;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    width: max-content;
    display: block;
    vertical-align: middle;
}

/*  Defines the location of the hideAdvanced button */
hideadvanced {
    padding: 2px 2px;
    display: block;
    width: auto;
    margin: 10px;
}

/*  Defines the border style of the images for the languages */
.lang_img {
    border: 2px solid #003F7F;
}

/*  Defines the color of the background */
body {
    background-color: #DDDDFF;
    color: #003F7F;
}

/*  Fills the flyout background with a color */
.blocklyFlyoutBackground {
    fill: #BBBBFF;
}

/*  Defines the border of the category separators */
.blocklyTreeSeparator {
    border-bottom: 1px solid #7F7FFF;
}

/*  Defines the location of the output */
#output {
    padding-left: 20px;
}

/*  Defines the style of the output text */
.outputText {
    color: #007F7F;
    padding-left: 20px;
}